<form @submit.prevent="add">
  <div class="row">
    <div class="five columns">
      <label for="lat-input">lat</label>
      <input class="u-full-width" type="text" v-model="lat" placeholder="" id="lat-input">
    </div>
    <div class="five columns">
      <label for="lng-input">lat</label>
      <input class="u-full-width" type="text" v-model="lng" placeholder="" id="lng-input">
    </div>
    <div class="two columns">
      <label>&nbsp;</label>
      <input class="button-primary" type="submit" value="Submit">
    </div>
  </div>
</form>