<div class="PhotoPanel">
    <form action="/upload"
      class="dropzone"
      id="my-awesome-dropzone"></form>
  	<ul>
  		<li v-for="photo in sorted_photos">
  			<div class="photo-item">
                <img :src="photo.val.path" />
  				<strong>{{ photo.date.format('llll') }}</strong><br/>
  				<span>{{ photo.val.lat }} : {{ photo.val.lng }}</span>
                <span>{{ photo.uid }}</span><br/>
                <span>{{ photo.val.path }}</span>
  			</div>
            <div class="u-cf"/>
  		</li>
  	</ul>
</div>
